.button {
    padding: 10px 20px;
    background-color: rgb(70, 143, 227);
    color: rgb(70, 143, 227);
    text-decoration: none;
    border-radius: 5px;
}
 
.button:hover {
    background-color: rgb(70, 143, 227);
}