footer {
    height: 15px;
    background: #fff;
    color: #fff;
}
 
.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.logo img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    text-align: left;
}
 
.made-by {
    color: black;
    font-size: 14px;
    text-align: right;
}